<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, minimum-scale=1.0">
	<title>{{ title|default:"社交网络项目展示" }}</title>
	<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
	<link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
	
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.1.1/echarts.common.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.1.1/echarts.min.js"></script>
	<script src="/static/js/echarts-wordcloud.min.js"></script>
	<script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>
	<script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/hubei.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

</head>