<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
	<div class="container">
		<a href="/" class="nav navbar-brand"><b>社交网络项目展示</b></a>
		<div class="badge badge-success">DMG4SNTA</div>
		<ul class="navbar-nav mr-auto">
			<li class="navbar-item mr-auto">
				<a class="nav-link active" href="/dxy">丁香园</a>
			</li>
			<li class="navbar-item mr-auto">
				<a class="nav-link active" href="/weibo">微博</a>
			</li>
			<li class="navbar-item mr-auto">
				<a class="nav-link active" href="/twitter">推特</a>
			</li>
		</ul>
	</div>
	
</nav>
<div id="header" style="height: 56px;"></div>